@media screen and (max-width:450px) {

html, body {
  max-width: 100%;
  overflow-x: hidden;
}  

    header
    {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid maroon; */
    }
    .nav-bar
    {
        /* display: none; */
        flex-direction: column;
        background-color: #FBEDCD;
        padding: 20px;
        text-align: center;
        position: absolute;
        margin-top: 90px;
        left: -100%;
        width: 100%;
        z-index: 99; 
        top: 0;
        transition: 0.5s;
    }
    .nav-bar.active{
        left: 0;
    }
    .nav-bar li 
    {
        font-size: 22px;
        height: 8vh;
        
    }
    .nav
    {
        display: flex;
        /* border: 2px solid maroon; */
        font-size: 25px;
        width: 10%;
        /* margin-right: 5%; */
    }
       .home-page
    {
        height: auto;
        gap: 0px;
        padding: 30px 0px;
        /* border: 2px solid navy; */
        /* background-color: aquamarine; */
    } 
    #section1{
     .home-img
    {
        width: 90%;
        height: 250px;
        /* filter: blur(50px); */
        /* border: 2px solid black; */
     } 
     .home-head-txt
    {
    
         width: 90%;
        height: auto;
        text-align: center;
        font-weight: 500;
       
        /* border: 2px solid navy; */
    }

    .home-head-txt p{
        font-size: 25px;
        
    }
    .head-text
    {
        color: black;
        font-size: 35px;
        
    } 

    .home-btn
    {
        padding-left: 10px;
        justify-content: center;
    
    }
    button
    {
       width: 100px;
       height: 40px;
    }
   
    }
    .categories{
        height: auto;
        padding-bottom: 30px;
        /* border: 2px solid maroon; */
    }
    #section2{
         .cate-head
    {
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .head-para
    {
        width: 100%;
        font-size: 20px;
        text-align: justify;
        /* border: 2px solid maroon; */
        padding: 10px;
    }
    .head-text-cate{
        font-size: 30px;
        /* border: 2px solid magenta; */
    }
     .swiper-img {
    width: 250px; /* Or any fixed width */
    margin-left:auto ;
    margin-right: auto;
  }
 

  .slider-box1 {
    justify-content: space-evenly;
  }
    }
  
    .servies-con{
        /* border: 2px solid lawngreen; */
        height: auto;
    }
   #section3{
        .card-img
  {
    margin: 10px;
    width: 400px;
    height: 300px;
  }
   .card-img::before,
   .card-img::after
   {
       letter-spacing: 2px;
   }
  .card-head 
    {
        width: 100%;
        height: 300px;
        padding: 10px;
           padding: 15px;
           word-spacing: 0;
        letter-spacing: normal;

    }

    .card-head2
    {
        width: 100%;
        height: 50%;
        order: 2;
        padding: 15px;
        letter-spacing: normal;
     }
    .card-delevired
    {
        order: 1;
        margin: 10px;
        width: 400px;
        height: 300px;
        /* border: 2px solid brown; */
    }
    .card-delevired:hover:after {
        content: "Freshly Baked Delights, Delivered with Care";
        /* font-size: 18px; */
        letter-spacing: 0.1rem;
        word-spacing: 1rem;
    text-align: center;

}
    }
  
    .review-con
    {
         height: auto;
         padding: 10px;
         /* border: 2px solid black; */
     }
   #section4{
     .cux-review
    {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        /* border: 2px solid lawngreen; */
     }
    .review-left
       {
        height: auto;
        width: auto;
        margin-left: 0;
        gap: 2rem;
        padding: 10px;
    }
    .review-right
    {
           padding: 10px;
        height: auto;
        width: auto;
        margin-left: 0;
    }
    .review-para
    {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-right: none;
        /* border: 8px solid maroon; */
        gap:0;
        align-items: center;
        
    }
    .review-para img{
        /* border: 2px solid lawngreen; */
        height: 200px;
        width: 200px;
    }
    .review-txt
    {
        align-content: center;
        text-align: center;
        padding: 10px;
        /* border: 2px solid midnightblue; */
        
    }
      .review-txt h3{
        /* border: 2px solid khaki; */
        font-size: 22px ;
    }
    .review-txt p
    {
        width: 100%;
        /* border: 2px solid maroon; */
        font-size: 18px;
        text-align: justify;
    }
    
    .review-right-img
    {
        border-right: none;
        height: auto;
        width: 100%;
        /* border: 2px solid mediumaquamarine; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        text-align: center;
    }
    .right-para{
        /* border: 2px solid rebeccapurple; */
        padding: 10px;
    }
    .review-right-img img {
        /* border: 2px solid red; */
        height: 200px;
        width: 200px;
    }
    .review-right-img p 
    {
        /* border: 2px solid maroon; */
        text-align: justify;
       width: 100%;
       font-size: 18px;
    }
    .right-para h3{
        /* border: 2px solid lawngreen; */
        font-size: 22px;
    }
  
   }
       .latest-collection{
        height: auto;

       }
   #section5{
     .collection-glry
    {
        display: flex;
        flex-direction: column;
    }
    .glry-img
       {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid maroon; */
       }
   
       .collection-txt
       {
        width: 100%;
        margin-left: 0;
       }
       .glry-txt
       {
        width: 100%;
        text-align: center;
       }
       .glry-txt h2{
        transform: rotate(0);
        font-size: 30px;
       
       }
       .bread-img{
        width: 80%;
        /* border: 2px solid maroon; */
        margin-left: 15px;
    }
    .bread-img2{
        width: 80%;
        margin-left: 15px;
    }
    .bread-img3{
        margin-left: 15px;
        width: 80%;
    }
    .bread-img4{
           margin-left: 15px;
        width: 80%;
        /* border: 2px solid maroon; */
       }
   }
       .contact{
        height: 50vh;
        align-items: center;
       }
      #section6{
         .cake-img
       {
        height: 100%;
        width: 70%;
        opacity: 0.3;
       }
       .contact-us
       {
        position: absolute;
        width: 80%;
       }
        .contact-us span{
            font-size: 30px;
        }
      }

        .footer
        {
            display: flex;
            flex-direction: column;
            height: auto;
        }
       #section7{
         .footer-bar{
            display: flex;
            flex-direction: column;
            height: auto;
            gap: 2rem;
            align-items: start;
        }
        .social-media
        {
            margin-top: 10px;
        }
        .icons{
            width: 30%;
            font-size: 20px;
        }
       }
}
